/*
 * UNCOMPRESSED CSS
 *
 * Prior to launching a live site - always be sure to compress as much of your code as possible.
 * Use the .min convention to store your conpressed CSS (and JS) file and .max for an uncompress version
 * Upon launch you can either @import (which sligtly reduces performance) your .min into the main style.css or (recommended) copy and paste your compressed styles into the main style.css and delete this file.
 *
 */
 
// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

@tapered:				#FF013D;
@tapegreen:				#33FF02;
@tapecyan:				#00A5FF;

/* Random */
.stripe {
	height: 3px;
	opacity: .5;
}

.red {
	background-color: @tapered;
}
	.green {
	background-color: @tapegreen;
}
	.cyan {
	background-color: @tapecyan;
}


/* Header Styles */
 
#header-container {
	background-color: @grayDarker;
	margin: 30px 0 20px 0;
}

/* Main Content Styles */ 

#content-container {
	background-color: @grayDark;
}

/* Footer Styles */
#footer-container {
	background-color: @grayDarker;
	height: 300px;
}