/*
 * UNCOMPRESSED CSS
 *
 * Prior to launching a live site - always be sure to compress as much of your code as possible.
 * Use the .min convention to store your conpressed CSS (and JS) file and .max for an uncompress version
 * Upon launch you can either @import (which sligtly reduces performance) your .min into the main style.css or (recommended) copy and paste your compressed styles into the main style.css and delete this file.
 *
 */
 
// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


/* Header Styles */
 
#header-container {
	background-color: @gray;
}



/* Footer Styles */
#footer-container {
	background-color: @grayDark;
	height: 300px;
}